html,body {
  display:block;
  margin:0 auto;
  position:relative;
  background-color:#eeeeee;
}

* {
	padding:0px;
}

body {
  font-family: PingFang SC, Hiragino Sans GB,Arial,Microsoft YaHei, Verdana, Roboto,Noto,Helvetica Neue, sans-serif !important;
  /*
  font-family: Consolas,Inconsolata,Courier,monospace,"PingFang SC","Microsoft YaHei",sans-serif;
  */
}


.artical {
	padding-left:5%;
	padding-right:5%;
	margin-top:0;
	padding-top:20px;
	background-color: #ffffff;
}

/*
.video-js {
	width:100%;
}
*/

@media screen and (min-width: 1024px) {
	.artical {
		width:50%;
		margin-left:20%;
		padding-left:5%;
		margin-right:20%;
		padding-right:5%;
	}
	/*
	.video-js {
		width:70%;
	}
	*/
}

.header {
	display:block;
	font-weight:300;
	font-size: 22px;
	line-height:1.4;
	margin-bottom:14px;
	/*
	border-style:none;
	border-width:1px;
	border-bottom-style:solid;
	border-color:#73777A;
	*/
}

.author {
	font-size:14px;
	line-height:20px;
	color:#73777A;
	margin-bottom:20px;
}

.content {
	font-size:16px;	
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

.content h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

.content h3 {
	margin-top: 0.5em;
	margin-bottom: 0;
}
.content ul{
	margin:0 2em;
}

.content ol{
	margin:0 2em;
}

.content li{
/*
	font-size:12px;	
	line-height: 2em;
*/
	list-style-position: inside;
}

.content p {
	/*
	text-indent:2em;
	*/
	margin-top:1.5em;
	margin-bottom:1.5em;
}

.content img {
	display:table-cell;
	max-width:100%;
	max-height:100%;
	text-align:center;
	vertical-align:middle;
	margin:0 auto;
}

.content blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 0 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
.content blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
.content blockquote p {
	display: inline;
}

pre {
	font-size:15px;
	/*font-family: monospace;*/
    font-family: Consolas,Inconsolata,Courier,monospace,"PingFang SC","Microsoft YaHei",sans-serif;
	line-height:1em;
}


