html,body {
  display:block;
  margin:0 auto;
  padding:0px;
  position:relative;
  background-color:#eeeeee;
  height:100%;
}

body {
  font-family: monospace, PingFang SC, Hiragino Sans GB,Arial,Microsoft YaHei, Verdana, Roboto,Noto,Helvetica Neue, sans-serif !important;
}

.pageEnd {
  position:relative;
  width:100%;
  display:block;
  float:left;
  margin:0 auto;
  height:30px;
}

.pageEnd p {
  display:block;
  height:30px;
}

.icp_content {
  position:relative;
  width:100%;
  margin-top:20px;
  margin-bottom:0px;
}

.icp_content a {
  position:relative;
  display:block;
  height:50%;
  width:200px;
  margin:0 auto;
  color:#aaaaaa;
  text-align:center;
}

.container,.menu,.menu>li {
  position:relative;
  z-index:1;
  float:left;
  height:50px;
  display:block;
  float:left;
}

.container {
  width:100%;
  background:#ffffff;
  /*background:#73777A;*/
  padding-bottom:2px;
}

.menu {
  /*width:100%;*/
  list-style:none;
  box-sizing: content-box;
  margin:0;
  padding-left:20%;
  /*background:transparent;
  background:#73777A;*/
}

.menu>li {
  opacity:1;
  box-sizing:border-box;
  text-align:center;
  perspective:1000px;
  /*
  border-width:1px;
  border-style:none;
  border-right-style:solid;
  border-bottom-style:solid;
  border-color:#73777A;
  */
}

.menu li a {
  color:#000000;
  text-decoration:none;
  /*
  padding-left:16px;
  padding-right:16px;
  padding-top:13px;
  padding-bottom:13px;
  */
  margin-left:16px;
  margin-right:16px;
  margin-top:13px;
  margin-bottom:13px;
  box-sizing:border-box;
  text-align:center;
  display:block;
}

.menu li ul {
  background:#f5f6f7;
  position:absolute;
  left:-1px;
  float:left;
  overflow:hidden;
  opacity:0;
  padding:0px;
  visibility:hidden;
  /*
  border-width:1px;
  border-style:solid;
  border-bottom-style:none;
  border-color:#73777A;
  */
}

.menu ul li {
  display:block;
  width:100px;
  height:30px;
  /*
  border-style:none; 
  border-width:1px;
  border-bottom-style:solid;
  border-color:#73777A;
  */
}

.menu ul li a {
  position:absolute;
  display:block;
  text-align:left;
  box-sizing:border-box;
  /*
  padding-top:6px;
  padding-bottom:6px;
  left:15px;
  */
  margin-top:6px;
  margin-bottom:6px;
  text-decoration:none;
}

.menu a:hover {
  border-style:none;
  border-width:1px;
  border-bottom-style:solid;
  border-color:red;
  color:red;
}

.menu li:hover>ul {
  opacity:1;
  background:#e0e0e0;
  transform-origin:50% 0%;
  animation-name:swing;
  animation-duration:1s;
  animation-timing-function:ease;
  visibility:visible;
}

@keyframes swing {
    0% {
      transform: rotateX(90deg);
      animation-timing-function:ease-in-out;
    }
    30% {
      transform: rotateX(-20deg) rotateY(5deg);
      animation-timing-function:ease-in-out;
    }
    70% {
      transform: rotateX(15deg) rotateY(-3deg);
      animation-timing-function:ease-in-out;
    }
    100% {
      transform: rotateX(0deg) rotateY(0deg);
      animation-timing-function:ease-out;
    }
}

.authors_page {
  position:relative;
  display:block;
  left:20px;
  top:70px;
  width:20%;
  margin:0px;
  float:left;
  background-color:#ffffff;
  color:#000000;
  font-family:monospace;
}

.authors_lable {
  position:relative;
  display:block;
}

.authors_lable p{
  position:relative;
  font-size:1.4em;
  display:inline-block;
  left:15px;
  margin-top:15px;
  margin-bottom:15px;
}

.authors ul {
  list-style:none;
  margin:auto 20px;
  padding:0;
}

.authors li {
  display:block;
  overflow:hidden;
  margin:0 auto;
}

.authors a {
  text-decoration:none;
  position:relative;
}

.authors a:hover p{
  color:#888888;
}

.ar_img {
  float:left;
}

.ar_img img{
  display:block;
  width:30px;
  height:30px;
  color:#000000;
}

.ar_ar {
  margin:0.6em auto;
  display:block;
}

.ar_ar p {
  font-size:1em;
  padding:0px;
  margin:0 auto;
  margin-left:40px;
}

.ar_brief {
  margin-top:1em;
  margin-bottom:2em;
}

.ar_brief p {
  margin:0 auto;
  margin-left:15px;
}

.pageBody {
  position:relative;
  display:inline-block;
  top:30px;
  left:40px;
  width:50%;
  margin-left:0px;
  margin-right:0px;
  background:#ffffff;
  height:auto;
  overflow:hidden;
  font-family:monospace;
}

.pageBody ul {
  list-style:none;
  margin:40px 40px;
  margin-left:70px;
  padding:0px;
}

.pageBody li {
  margin:0 auto;
  display:block;
  overflow:hidden;
}

.pg_img {
  height:50px;
  width:50px;
  display:block;
  float:left;
}

.pg_img img{
  height:50px;
  width:50px;
  display:block;
}

.pg_title {
  margin:0.5em auto;
}

.pg_title p{
  display:block;
  height:1.2em;
  font-size:1.2em;
  color:#000000;
  overflow:hidden;
  vertical-align: middle;
  line-height:1.2em;
  margin:0 auto;
  margin-left:60px;
}

.pg_author {
  margin:0.2em auto;
}

.pg_author p{
  margin:0.1em auto;
  display:block;
  margin-left:60px;
}

.pg_content {
  margin-top:1em;
  margin-bottom:2em;
}

.pg_content p{
  position:relative;
  padding:0;
  margin:0 auto;
  margin-left:15px;
  /*
  text-indent:30px;
  */
  overflow:hidden;
  color:#000000;
}

.pageBody a {
  text-decoration:none;
  color:#000000;
}

.pageBody a:hover p{
  color:#888888;
}

/*
.bt_foot {
  position: absolute;
  width:100%;
  bottom: 0;
}
*/
